section {
    height: 100%;
    display: flex;
    padding: 20px;
}

#sec1 {
    background-color: #3F51B5;
    color: white;
}

#sec2 {
    background-color: white;
}

#sec3 {
    background-color: #3F51B5;
    color: white;
}

#sec4 {
    background-color: white;
}

#sec5 {
    background-color: #ddd;
}

.canal-pic img {
    border-radius: 50%;
    border: 2px solid;
    height: 200px;
    width: 200px;
}

.canal-btn,
.video-btn {
    width: 100px;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.canal-btn:hover,
.video-btn:hover {
    background-color: #f44336;
}

.canal-title {
    text-align: center;
}

.canal-title p {
    text-align: center !important;
}

.canal-info {
    text-align: center;
    margin: 50px;
}

.foruns h1,
.site-h1 {
    margin-top: 150px;
    margin-left: 150px;
    font-size: 30px;
}

.forum {
    display: flex;
}

.description {
    margin-left: 50px;
}

.nav-foruns {
    background-color: white;
}

.link-content {
    width: 100%;
}

.link-content .site {
    width: 100%;
    display: flex;
    margin-bottom: 150px;
    margin-top: 150px;
}

.link-content li {
    margin: 150px;
    list-style-type: none;
}

.site-pic img,
.forum-pic img,
.plat-pic img {
    border: 1px solid;
    height: 200px;
    width: 200px;
}

.site-a button,
.forum-a button {
    padding: 10px 30px;
}

.site-info,
.plat-into {
    margin-left: 150px;
}

.site-p,
.plat-p {
    width: 70%;
}

.forum-p {
    width: 70%;
}

.canal {
    display: flex;
    width: 100%;
}

.canal-info {
    flex: 1;
}

.video {
    flex: 1;
    margin: 20px;
    width: 70%;
}

.slider-container li {
    margin: 0px !important;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    overflow: hidden;
}

.carousel-container img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-container #btn {
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-container .prev {
    left: 10px;
}

.carousel-container .next {
    right: 10px;
}

.plataforma {
    background-color: blue;
    padding: 40px;
    border-radius: 15px;
    width: 1500px;
    margin: 50px auto;
    color: white;
    display: flex;
}

.plat-img {
    margin-left: 100px;
}