body {
  background-color: #fbfbfb;
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  font-family: "Futura PT", "Trebuchet MS", sans-serif;
}

header {
  z-index: 2;
  position: absolute;
  background: transparent;
  box-shadow: none;
}

.logo span {
  color: white;
}

.menu-li a {
  color: white !important;
  background: none !important;
}

.menu-li a:hover {
  background-color: rgb(70, 69, 69) !important;
  color: white !important;
}

#section-one {
  background-color: #ccc;
  background-image: url('./img/capaiot.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin: 0px 0px;
}

.conteudo {
  margin: 0px 0px;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 70vh;
  position: relative;
}

.slider figure div {
  float: left;
  width: 20%;
}

.slider figure img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  animation: animate 20s infinite;
}

.vignette {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  /* Ajuste a altura da vinheta conforme necessário */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  pointer-events: none;
  /* Permite que os elementos abaixo da vinheta sejam clicáveis */
}

@keyframes animate {
  0% {
    left: 0%;
  }

  10% {
    left: 0%;
  }

  12% {
    left: -100%;
  }

  22% {
    left: -100%;
  }

  24% {
    left: -200%;
  }

  34% {
    left: -200%;
  }

  36% {
    left: -300%;
  }

  46% {
    left: -300%;
  }

  48% {
    left: -400%;
  }

  58% {
    left: -400%;
  }

  60% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  72% {
    left: -200%;
  }

  82% {
    left: -200%;
  }

  84% {
    left: -100%;
  }

  94% {
    left: -100%;
  }

  96% {
    left: 0%;
  }

  106% {
    left: 0%;
  }
}

#text-slider {
  position: absolute;
  padding: 6%;
  padding-left: 15%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#text-slider h1 {
  font-size: 60px;
  margin-top: 5%;
}

#text-slider p {
  font-size: 40px;
  line-height: 55px;
}

#section-two {
  margin-top: 30px;
  margin-bottom: 100px;
}

#apresentacao {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin: 0px 0px;
  font-weight: 500;
  justify-content: center;
}

#explore-article {
  display: block;
}

#section-three {
  background-color: #3F51B5;
  height: 50vh;
  display: flex;
}

#apresentacao article img {
  width: 150px;
  height: 150px;
}

#catalogo {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin: 0px 0px;
  font-weight: 500;
  justify-content: center;
  justify-content: space-around;
}

#div-article {
  display: flex;
  justify-content: center;
}

#div-article article {
  background: #2743b00d;
  padding: 30px;
  width: 30%;
}

.separator {
  border-top: 1px solid #000000;
  margin: 20px 0;
}

article {
  width: 40%;
  margin: 4%;
  justify-content: center;
}

#cabeca {
  text-align: center;
  display: flex;
  justify-content: center;
}

#cabeca-fundo {
  width: 100%;
  position: absolute;
  opacity: 0.1;
}

#cabeca p {
  margin-top: 50px;
}

#bemvindo {
  width: 60%;
  font-size: 16px;
}

#section-four {
  height: 50vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#scrollBtn:hover {
  background-color: #a9a9a9;
}

#switch {
  display: none;
}

.chamada1 {
  color: white;
  padding: 50px;
  width: 100%;
  margin-left: 150px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}