#conteudo {
    padding: 0px;
    margin: 0 auto;
    margin: 0px 0px;
    display: flex;
    justify-content: space-around;
    width: 97%;
    height: 100%;
}

#sobreprojeto {
    /*background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0px 0px 5px #ccc;*/
    padding: 80px;
    width: 60%;
    font-size: 15px;
    margin: 20px;
    margin-left: 100px;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
}

#sobreprojeto p {
    text-align: justify;
    line-height: 2em;
    hyphens: auto;
}

.sidebar {
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-right: 0px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 6px 0;
}

.sidebar ul li a i {
    font-size: 1.1em;
}

.sidebar ul li a {
    position: relative;
    display: block;
    padding: 4px 20px;
    font-size: 1em;
    font-family: 'open_sansregular';
    color: #555555;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #0dc9cc;
}

#sidebar {
    display: block;
}

#cards {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 250px;
    margin: 5px;
    text-align: center;
    font-family: arial;
}

.card img {
    display: none;
}

.capa-info {
    padding: 15px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
button:hover {
    opacity: 0.7;
}

#agrad {
    float: right;
}

h2 {
    text-align: center;
}

#gitlink {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

#gitlink a {
    color: white;
}

#gitlink:hover {
    background-color: #2196f3;
}